{% if page.page_type == 'service_category' %}
  {% assign use_breadcrumbs = true %}
  {% assign crumbs = "" | split: "" %}
{% elsif page.page_type == 'service' %}
  {% assign use_breadcrumbs = true %}
  {% assign crumbs = page.categories | pop %}
{% elsif (page.page_type == 'post') and (page.category != 'thoughts') and ((page.categories | size) == 3) %}
  {% assign use_breadcrumbs = true %}
  {% assign crumbs = page.categories | slice: 0, 2 %}
{% else %}
  {% assign use_breadcrumbs = false %}
{% endif %}

{% if use_breadcrumbs %}
  {% assign crumb_index = 1 %}
  <nav class="breadcrumbs">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="{{ '/' | relative_url }}" itemprop="item"><span itemprop="name">{{ site.data.ui-text[site.locale].breadcrumb_home_label | default: "Home" }}</span></a>

        <meta itemprop="position" content="1" />
      </li>
      {% for crumb in crumbs %}
        {% assign crumb_index = crumb_index | plus: 1 %}
        <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
        {% if forloop.first %}
          {% assign crumb_page = site.service_categories | where: "service_category", crumb | first %}
        {% else %}
          {% assign crumb_page = site.services | where: "service_category", crumbs[0] | where: "service", crumb | first %}
        {% endif %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="/{{ crumb_page.categories | join: '/' | }}" itemprop="item"><span itemprop="name">{{ crumb_page.title }}</span></a>
          <meta itemprop="position" content="{{ forloop.index | plus: 1 }}" />
        </li>
      {% endfor %}
      <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
      <li class="current">{{ page.title }}</li>
      <meta itemprop="position" content="{{ crumbs | size | plus: 2 }}" />
    </ol>
  </nav>
{% endif %}

<!-- {% assign post_type = page.categories | last %}
{% if page.categories | size == 3 and (post_type == 'explainer' or post_type == 'procedure') %}
  {% assign crumbs = page.categories %}

  <nav class="breadcrumbs">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
      {% assign i = 1 %}
      {% for crumb in crumbs %}
        {% if forloop.first %}
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ '/' | relative_url }}" itemprop="item"><span itemprop="name">{{ site.data.ui-text[site.locale].breadcrumb_home_label | default: "Home" }}</span></a>

            <meta itemprop="position" content="{{ i }}" />
          </li>
          <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
        {% endif %}
        {% if forloop.last %}
          <li class="current">{{ page.title }}</li>
        {% else %}
          {% assign service_category = site.service_categories | where: "service_category", page.categories[0] | first %}
          {% assign service = site.services | where: "service_category", page.categories[0] | where: "service", page.categories[1] | first %}
          {% assign i = i | plus: 1 %}

          {% if forloop.index == 1 %}
            {% assign crumb_rel_path = crumb %}
            {% assign crumb_name = service_category.title %}
          {% elsif forloop.index == 2 %}
            {% assign crumb_rel_path = "services/" | append: page.categories[0] | append: "/" | append: page.categories[1] %}
            {% assign crumb_name = service.title %}
          {% else %}
            {% assign crumb_rel_path = crumb %}
            {% assign crumb_name = crumb %}
          {% endif %}
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{ crumb_rel_path | downcase | replace: '%20', '-' | prepend: path_type | prepend: crumb_path | relative_url }}" itemprop="item"><span itemprop="name">{{ crumb_name | replace: '-', ' ' | replace: '%20', ' ' | capitalize }}</span></a>
            <meta itemprop="position" content="{{ i }}" />
          </li>
          <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %} -->