$animation-duration: 10s;

@keyframes dg-1-move {
    from {
        offset-distance: 0%;
        opacity: 1;
    }
    20% {
        offset-distance: 100%;
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    to {
        offset-distance: 100%;
        opacity: 0;
    }
}

@keyframes dg-1-bump {
    3% {
        r: 4;
    }
    15% {
        r: 1.5;
    }
}

@keyframes dg-2-move {
    from {
        offset-distance: 0%;
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    40% {
        offset-distance: 0%;
        opacity: 1;
    }
    80% {
        offset-distance: 100%;
        opacity: 1;
    }
    to {
        offset-distance: 100%;
        opacity: 1;
    }
}

@keyframes dg-2-bump {
    45% {
        r: 1.5
    }
    50% {
        r: 4;
    }
    60% {
        r: 1.5;
    }
}

@keyframes msg-2-appear {
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes msg-2-appear-opposite {
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes highlight-row {
    20% {
        fill: transparent;
    }
    30% {
        fill: $svg-secondary-color;
    }
    to {
        fill: $svg-secondary-color;
    }
}

@keyframes computer-receive-msg-appear {
    from {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes reset {
    from {
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    97% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#svg-layer2-switch-1-2-animated, #svg-layer2-switch-3-2-animated, #svg-layer2-switch-flood-animated {
    animation: $animation-duration ease-in-out 0s infinite both running reset;
}

#svg-layer2-switch-1-2-animated #gDatagram1, #svg-layer2-switch-flood-animated #gDatagram1 {
    offset-path: path('M0,0 L47,38');
    offset-rotate: 0deg;
    animation: $animation-duration ease-in-out 0s infinite both running dg-1-move;
}

#svg-layer2-switch-3-2-animated #gDatagram1 {
    offset-path: path('M0,0 L-47,38');
    offset-rotate: 0deg;
    animation: $animation-duration ease-in-out 0s infinite both running dg-1-move;
}

#svg-layer2-switch-flood-animated #gDatagram3 {
    offset-path: path('M0,0 L47,-38');
    offset-rotate: 0deg;
    animation: $animation-duration ease-in-out 0s infinite both running dg-2-move;
}

#svg-layer2-switch-1-2-animated #cirDatagram1, #svg-layer2-switch-3-2-animated #cirDatagram1, #svg-layer2-switch-flood-animated #cirDatagram1 {
    animation: $animation-duration ease-in-out 0s infinite both running dg-1-bump;
}

#svg-layer2-switch-1-2-animated #gMessage2, #svg-layer2-switch-3-2-animated #gMessage2, #svg-layer2-switch-flood-animated #gMessage2 {
    opacity: 0;
    animation: $animation-duration linear 0s infinite backwards running msg-2-appear;
}

#svg-layer2-switch-1-2-animated #rectAddressTableRow2 {
    animation: $animation-duration linear 0s infinite backwards running highlight-row;
}

#svg-layer2-switch-1-2-animated #gDatagram2, #svg-layer2-switch-3-2-animated #gDatagram2, #svg-layer2-switch-flood-animated #gDatagram2 {
    offset-path: path('M0,0 L0,-26');
    offset-rotate: 0deg;
    animation: $animation-duration ease-in-out 0s infinite both running dg-2-move;
}

#svg-layer2-switch-1-2-animated #cirDatagram2,
#svg-layer2-switch-3-2-animated #cirDatagram2,
#svg-layer2-switch-flood-animated #cirDatagram2,
#svg-layer2-switch-1-2-animated #cirDatagram3,
#svg-layer2-switch-3-2-animated #cirDatagram3,
#svg-layer2-switch-flood-animated #cirDatagram3 {
        animation: $animation-duration ease-in-out 0s infinite both running dg-2-bump;
}

#svg-layer2-switch-3-2-animated #rectAddressTableRow3 {
    animation: $animation-duration linear 0s infinite backwards running highlight-row;
}

#svg-layer2-switch-3-2-animated #textAddressTableMac3Dunno {
    animation: $animation-duration linear 0s infinite backwards running msg-2-appear-opposite;
}

#svg-layer2-switch-3-2-animated #textAddressTableMac3 {
    animation: $animation-duration linear 0s infinite backwards running msg-2-appear;
    opacity: 0;
}

#svg-layer2-switch-1-2-animated #textDisplayMessage2,
#svg-layer2-switch-3-2-animated #textDisplayMessage2,
#svg-layer2-switch-flood-animated #textDisplayMessage2,
#svg-layer2-switch-1-2-animated #textDisplayMessage3,
#svg-layer2-switch-3-2-animated #textDisplayMessage3,
#svg-layer2-switch-flood-animated #textDisplayMessage3 {
    animation: $animation-duration linear 0s infinite backwards running computer-receive-msg-appear;
}