@keyframes dg-1-move {
    from {
        offset-distance: 0%;
        opacity: 1;
    }
    20% {
        offset-distance: 100%;
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    to {
        offset-distance: 100%;
        opacity: 0;
    }
}

@keyframes dg-1-bump {
    3% {
        r: 4;
    }
    15% {
        r: 1.5;
    }
}

@keyframes dg-2-move {
    from {
        offset-distance: 0%;
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    40% {
        offset-distance: 0%;
        opacity: 1;
    }
    80% {
        offset-distance: 100%;
        opacity: 1;
    }
    to {
        offset-distance: 100%;
        opacity: 1;
    }
}

@keyframes dg-2-bump {
    45% {
        r: 1.5
    }
    50% {
        r: 4;
    }
    60% {
        r: 1.5;
    }
}

@keyframes msg-2-appear {
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes msg-2-appear-opposite {
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes highlight-row {
    20% {
        fill: transparent;
    }
    30% {
        fill: $svg-secondary-color;
    }
    to {
        fill: $svg-secondary-color;
    }
}

#svg-layer2-switch-1-2-animated #gDatagram1 {
    offset-path: path('M0,0 L47,38');
    offset-rotate: 0deg;
    animation: 10s ease-in-out 0s infinite both running dg-1-move;
}

#svg-layer2-switch-3-2-animated #gDatagram1 {
    offset-path: path('M0,0 L-47,38');
    offset-rotate: 0deg;
    animation: 10s ease-in-out 0s infinite both running dg-1-move;
}


#cirDatagram1 {
    animation: 10s ease-in-out 0s infinite both running dg-1-bump;
}

#gMessage2 {
    opacity: 0;
    animation: 10s linear 0s infinite backwards running msg-2-appear;
}

#svg-layer2-switch-1-2-animated #rectAddressTableRow2 {
    animation: 10s linear 0s infinite backwards running highlight-row;
}

#gDatagram2 {
    offset-path: path('M0,0 L0,-26');
    offset-rotate: 0deg;
    animation: 10s ease-in-out 0s infinite both running dg-2-move;
}

#cirDatagram2 {
    animation: 10s ease-in-out 0s infinite both running dg-2-bump;
}

#svg-layer2-switch-3-2-animated #rectAddressTableRow3 {
    animation: 10s linear 0s infinite backwards running highlight-row;
}

#svg-layer2-switch-3-2-animated #textAddressTableMac3Dunno {
    animation: 10s linear 0s infinite backwards running msg-2-appear-opposite;
}

#svg-layer2-switch-3-2-animated #textAddressTableMac3 {
    animation: 10s linear 0s infinite backwards running msg-2-appear;
    opacity: 0;
}