@keyframes dg-1-move {
    from {
        offset-distance: 0%;
    }
    3% {
        r: 3;
    }
    6% {
        r: 1.5;
    }
    20% {
        offset-distance: 69.1%;
    }
    40% {
        offset-distance: 69.1%;
    }
    75% {
        offset-distance: 100%;
    }
    to {
        offset-distance: 100%;
    }
}

@keyframes msg-2-appear {
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes msg-2-appear-opposite {
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes highlight-row {
    20% {
        fill: transparent;
    }
    30% {
        fill: $svg-secondary-color;
    }
    to {
        fill: $svg-secondary-color;
    }
}

#svg1-2-animated #cirDatagram1 {
    offset-path: path('M0,0 L47,38 M60,39 L60,12');
    offset-rotate: 0deg;
    animation: 10s ease-in-out 0s infinite both running dg-1-move;
}

#gMessage2 {
    opacity: 0;
    animation: 10s linear 0s infinite backwards running msg-2-appear;
}

#svg1-2-animated #rectAddressTableRow2 {
    animation: 10s linear 0s infinite backwards running highlight-row;
}

#svg3-2-animated #cirDatagram1 {
    offset-path: path('M0,0 L-47,39 M-58.5,39 L-58.5,12');
    offset-rotate: 0deg;
    animation: 10s ease-in-out 0s infinite both running dg-1-move;
}

#svg3-2-animated #rectAddressTableRow3 {
    animation: 10s linear 0s infinite backwards running highlight-row;
}

#svg3-2-animated #textAddressTableMac3Dunno {
    animation: 10s linear 0s infinite backwards running msg-2-appear-opposite;
}

#svg3-2-animated #textAddressTableMac3 {
    animation: 10s linear 0s infinite backwards running msg-2-appear;
    opacity: 0;
}