.site-title {
    font-size: 3em;
}

.masthead__menu-item {
    font-size: $type-size-6;
}

.greedy-nav {
    align-items: end;
}

.page__content {
    p, li, dl {
        font-size: $type-size-6;
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
    }
}

.page__title {
    text-transform: uppercase;
}

.toc__menu {
    font-size: 1em;
}