// Pull colors from minimal mistakes theme where necessary/possible.
$svg-primary-color: $primary-color;
$svg-secondary-color: $border-color;
$svg-border-color: mix(#000, $svg-secondary-color, 25%);
$svg-text-color: $text-color;
$svg-primary-text-color: #fff;

%svg-box-shared {
    stroke:$svg-border-color !important;
}

.svg-box {
    @extend %svg-box-shared;
}

.svg-box-primary {
    @extend %svg-box-shared;
    fill: $svg-primary-color !important;
}

.svg-text-primary {
    fill: $svg-primary-text-color;
}

.svg-box-secondary {
    @extend %svg-box-shared;
    fill: $svg-secondary-color !important;
}

svg text::selection {
    fill: #fff;
    background: #000;
}

svg tspan::selection {
    fill: #fff;
    background: #000;
}



