// Configurable values. Change these to change the animation behavior.
// $animation-duration must be greater than the other duration variables.
$animation-duration: 10;
$bump-duration: 1;
$reset-fade-duration: 0.25;
$computer1-to-switch1-path: path('M0,0 L47,38');
$switch2-to-computer2-path: path('M0,0 L0,-26');
$computer3-to-switch3-path: path('M0,0 L-47,38');
$switch3-to-computer3-path: path('M0,0 L47,-38');

// Calculated values. These values are derived from the above values.
$bump-duration-percentage-number: $bump-duration / $animation-duration * 100;
$reset-fade-duration-perecentage-number: $reset-fade-duration / $animation-duration * 100;
$animation-duration-time: #{$animation-duration}s;

// Mixins
@mixin datagram-motion($path, $keyframe) {
    offset-path: $path;
    offset-rotate: 0deg;
    animation: $animation-duration-time ease-in-out 0s infinite both running $keyframe;
}

/* Keyframes */
@keyframes reset {
    from {
        opacity: 0;
    }
    #{$reset-fade-duration-perecentage-number}% {
        opacity: 1;
    }
    #{100 - $reset-fade-duration-perecentage-number}% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes datagram1-motion {
    from {
        offset-distance: 0%;
        opacity: 1;
    }
    20% {
        offset-distance: 100%;
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    to {
        offset-distance: 100%;
        opacity: 0;
    }
}

@keyframes datagram1-bump {
    from {
        r: 1.5;
    }
    5% {
        r: 4;
    }
    #{5 + $bump-duration-percentage-number}% {
        r: 1.5;
    }
}

@keyframes datagram2-motion {
    from {
        offset-distance: 0%;
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    40% {
        offset-distance: 0%;
        opacity: 1;
    }
    80% {
        offset-distance: 100%;
        opacity: 1;
    }
    to {
        offset-distance: 100%;
        opacity: 1;
    }
}

@keyframes datagram2-bump {
    45% {
        r: 1.5
    }
    #{45 + $bump-duration-percentage-number}% {
        r: 4;
    }
    60% {
        r: 1.5;
    }
}

@keyframes switch-message-appear {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes mactable-message-appear {
    20% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes switch-message-remove {
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

@keyframes mactable-highlight-row {
    20% {
        fill: transparent;
    }
    25% {
        fill: $svg-secondary-color;
    }
    to {
        fill: $svg-secondary-color;
    }
}

@keyframes computer-message-appear {
    from {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

/* Fade in/out at beginning/end of animation to indicate animation is restarting. */
#svg-layer2-switch-1-2-animated
, #svg-layer2-switch-3-2-animated
, #svg-layer2-switch-flood-animated {
    animation: $animation-duration-time ease-in-out 0s infinite both running reset;
}

/* Datagrams */
/* Motion paths for datagrams. */
#svg-layer2-switch-1-2-animated #gDatagram1
, #svg-layer2-switch-flood-animated #gDatagram1 {
    @include datagram-motion($path: $computer1-to-switch1-path, $keyframe: datagram1-motion)
}

#svg-layer2-switch-3-2-animated #gDatagram1 {
    @include datagram-motion($path: $computer3-to-switch3-path, $keyframe: datagram1-motion)
}

#svg-layer2-switch-1-2-animated #gDatagram2
, #svg-layer2-switch-3-2-animated #gDatagram2
, #svg-layer2-switch-flood-animated #gDatagram2 {
        @include datagram-motion($path: $switch2-to-computer2-path, $keyframe: datagram2-motion)
}

#svg-layer2-switch-flood-animated #gDatagram3 {
    @include datagram-motion($path: $switch3-to-computer3-path, $keyframe: datagram2-motion)
}

/* Brief enlargement of datagram circle to emphasize movement. */
#svg-layer2-switch-1-2-animated #cirDatagram1
, #svg-layer2-switch-3-2-animated #cirDatagram1
, #svg-layer2-switch-flood-animated #cirDatagram1 {
    animation: $animation-duration-time ease-in-out 0s infinite both running datagram1-bump;
}

#svg-layer2-switch-1-2-animated #cirDatagram2
, #svg-layer2-switch-3-2-animated #cirDatagram2
, #svg-layer2-switch-flood-animated #cirDatagram2
, #svg-layer2-switch-flood-animated #cirDatagram3 {
    animation: $animation-duration-time ease-in-out 0s infinite both running datagram2-bump;
}

/* Message appear/disappear. */
#svg-layer2-switch-1-2-animated #gMessage2
, #svg-layer2-switch-3-2-animated #gMessage2
, #svg-layer2-switch-flood-animated #gMessage2 {
    animation: $animation-duration-time linear 0s infinite backwards running switch-message-appear;
}

#svg-layer2-switch-3-2-animated #textAddressTableMac3 {
    animation: $animation-duration-time linear 0s infinite backwards running mactable-message-appear;
    opacity: 0;
}

#svg-layer2-switch-3-2-animated #textAddressTableMac3Dunno {
    animation: $animation-duration-time linear 0s infinite backwards running switch-message-remove;
}

#svg-layer2-switch-1-2-animated #rectAddressTableRow2
, #svg-layer2-switch-3-2-animated #rectAddressTableRow3 {
    animation: $animation-duration-time linear 0s infinite backwards running mactable-highlight-row;
}

#svg-layer2-switch-flood-animated #textDisplayMessage2
, #svg-layer2-switch-flood-animated #textDisplayMessage3 {
    animation: $animation-duration-time linear 0s infinite backwards running computer-message-appear;
}