// Configurable values. Change these to change the animation behavior.
// $animation-duration must be greater than the other duration variables.
$animation-duration: 10;
$bump-duration: 1;
$reset-fade-duration: 0.25;
$computer1-to-switch1-path: path('M0,0 L47,38');
$switch2-to-computer2-path: path('M0,0 L0,-26');

// Calculated values. These values are derived from the above values.
$bump-duration-percentage-number: $bump-duration / $animation-duration * 100;
$reset-fade-duration-perecentage-number: $reset-fade-duration / $animation-duration * 100;
$animation-duration-time: #{$animation-duration}s;

@keyframes reset {
    from {
        opacity: 0;
    }
    #{$reset-fade-duration-perecentage-number}% {
        opacity: 1;
    }
    #{100 - $reset-fade-duration-perecentage-number}% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes datagram-computer1-to-switch1-motion {
    from {
        offset-distance: 0%;
        opacity: 1;
    }
    20% {
        offset-distance: 100%;
    }
    35% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    to {
        offset-distance: 100%;
        opacity: 0;
    }
}

@keyframes datagram-1-bump {
    from {
        r: 1.5;
    }
    5% {
        r: 4;
    }
    #{5 + $bump-duration-percentage-number}% {
        r: 1.5;
    }
}

@keyframes datagram-switch2-to-computer2-motion {
    from {
        offset-distance: 0%;
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    40% {
        offset-distance: 0%;
        opacity: 1;
    }
    80% {
        offset-distance: 100%;
        opacity: 1;
    }
    to {
        offset-distance: 100%;
        opacity: 1;
    }
}

@keyframes datagram-2-bump {
    45% {
        r: 1.5
    }
    #{45 + $bump-duration-percentage-number}% {
        r: 4;
    }
    60% {
        r: 1.5;
    }
}

#svg-layer2-switch-1-2-animated {
    animation: $animation-duration-time ease-in-out 0s infinite both running reset;
}

#svg-layer2-switch-1-2-animated #gDatagram1 {
    offset-path: $computer1-to-switch1-path;
    offset-rotate: 0deg;
    animation: $animation-duration-time ease-in-out 0s infinite both running datagram-computer1-to-switch1-motion;
}

#svg-layer2-switch-1-2-animated #gDatagram2 {
    offset-path: $switch2-to-computer2-path;
    offset-rotate: 0deg;
    animation: $animation-duration-time ease-in-out 0s infinite both running datagram-switch2-to-computer2-motion;
}

#svg-layer2-switch-1-2-animated #cirDatagram1 {
    animation: $animation-duration-time ease-in-out 0s infinite both running datagram-1-bump;
}

#svg-layer2-switch-1-2-animated #cirDatagram2 {
    animation: $animation-duration-time ease-in-out 0s infinite both running datagram-2-bump;
}
