---
layout: single
---
{% assign parent_service = site.services | where: "title", page.service | first %}
{% assign service_posts = site.posts | where: "service", page.service %}
{% assign explainer_posts = service_posts | where: "type", "explainer" %}
<div class="notice--info">
  This procedure is part of the <a href="{{ parent_service.permalink }}">{{ parent_service.title }}</a>  service category.
</div>

{{ content }}

{% if explainer_posts.size > 0 %}
<div class="notice">
<p>Need a refresher on {{ page.service }}? Check out these overview pages.</p>
<ul>
  {% for explainer_post in explainer_posts %}
    <li><a href="{{ explainer_post.url }}">{{ explainer_post.title }}</a></li>
  {% endfor %}
</ul>
</div>
{% endif %}

{% assign posts = service_posts | where: "procedure", page.name %}
{% assign manual_posts = posts | where: "type", "manual" %}
{% assign scripted_posts = posts | where: "type", "scripted" %}
{% assign devops_posts = posts | where: "type", "devops" %}

{% for post in manual_posts %}
  {% include archive-single.html type=page.entries_layout %}
{% endfor %}
{% for post in scripted_posts %}
  {% include archive-single.html type=page.entries_layout %}
{% endfor %}
{% for post in devops_posts %}
  {% include archive-single.html type=page.entries_layout %}
{% endfor %}
