---
layout: single
---
{{ content }}

{% assign service_posts = site.posts | where: "service", page.service %}
{% assign description_posts = service_posts | where: "type", "description" %}

{% if description_posts %}
<div class="notice">
<p>Need a refresher on {{ page.service }}? Check out these overview pages.</p>
<ul>
  {% for description_post in description_posts %}
    <li><a href="{{ description_post.url }}">{{ description_post.title }}</a></li>
  {% endfor %}
</ul>
</div>
{% endif %}

{% assign posts = service_posts | where: "procedure", page.name %}
{% assign manual_posts = posts | where: "type", "manual" %}
{% assign scripted_posts = posts | where: "type", "scripted" %}
{% assign devops_posts = posts | where: "type", "devops" %}

{% for post in manual_posts %}
  {% include archive-single.html type=page.entries_layout %}
{% endfor %}
{% for post in scripted_posts %}
  {% include archive-single.html type=page.entries_layout %}
{% endfor %}
{% for post in devops_posts %}
  {% include archive-single.html type=page.entries_layout %}
{% endfor %}
