---
layout: single
---
{{ content }}

{% assign service_posts = site.posts | where_exp: "post", "post.hidden != true" | where_exp: "post", "post.categories[0] == page.categories[0]" | where_exp: "post", "post.categories[1] == page.categories[1]" | sort: "sort_order" %}
{% assign explainer_posts = service_posts | where_exp: "post", "post.categories[2] == 'explainer'" %}
{% assign procedure_posts = service_posts | where_exp: "post", "post.categories[2] == 'procedure'" %}

{% if explainer_posts.size > 0 %}
<h2>Learn more</h2>
  {% for explainer in explainer_posts %}
    {% assign cloud_provider = explainer.categories[3] %}
    <a href="{{ explainer.url }}">{{ explainer.title }}</a><br />
    {{ explainer.description | markdownify }}
  {% endfor %}
{% endif %}

{% if procedure_posts.size > 0 %}
  <h2>Do it yourself</h2>
  {% for procedure in procedure_posts %}
    {% assign cloud_provider = procedure.categories[3] %}
    <a href="{{ procedure.url }}">{{ procedure.title }}</a><br />
    {{ procedure.description | markdownify }}
  {% endfor %}
{% endif %}

{% unless service_posts.size > 0 %}
<hr />

<div class="text-center notice--info">
  Looks like we don't have any posts for this service yet, but check back later for what is sure to be some grade-A content!
</div>
{% endunless %}