---
layout: single
---
{{ content }}


{% assign service_posts = site.posts | where: "service", page.title %}
{% assign explainer_posts = service_posts | where: "type", "explainer" %}
{% assign procedures = site.procedures | where: "service", page.title | sort: "order" %}

{% if explainer_posts.size > 0 %}
<h2>Learn more about {{ page.title }}</h2>
<ul>
  {% for explainer_post in explainer_posts %}
    <li><a href="{{ explainer_post.url }}">{{ explainer_post.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if procedures.size > 0 %}
  <h2>Do it yourself</h2>
  {% for procedure in procedures %}
    <ul>
      <li>
        <a href="{{ procedure.url }}">{{ procedure.title }}</a><br />
        {{ procedure.excerpt }}
      </li>
    </ul>
  {% endfor %}
{% endif %}