---
layout: single
---
{{ content }}

{% assign service_posts = site.posts | where: "service", page.name %}
{% assign description_posts = service_posts | where: "type", "description" %}

{% if description_posts %}
<h2>Learn more about {{ page.name }}</h2>
<ul>
  {% for description_post in description_posts %}
    <li><a href="{{ description_post.url }}">{{ description_post.title }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% assign procedures = site.procedures | where: "service", page.name | sort: "order" %}
{% if procedures %}
  <h2>Do it yourself</h2>
  {% for procedure in procedures %}
    <ul>
      <li>
        <a href="{{ procedure.url }}">{{ procedure.name }}</a><br />
        {{ procedure.excerpt }}
      </li>
    </ul>
  {% endfor %}
{% endif %}