---
layout: archive
---
<div class="notice--primary text-center">
  {{ page.excerpt }}
</div>
  
{% assign content_array = page.content | split: site.excerpt_separator %}
{% assign content_main = content_array | last %}

{{ content_main }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include filtered_collection.html collection='services' filter_key='service_category' filter_value=page.service_category sort_by=page.sort_by sort_order=page.sort_order type=entries_layout %}
</div>